.bodyDashboard{
    margin:0;
    padding:0;
    /* background: red;
    height: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100lvw;  
    height: 100lvh;
  overflow-x: hidden; */
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.containerDashboard{
    width: 100%;
}
